<div class="title">
  <h2>Expanding cards</h2>
</div>

<div class="container">
  <div class="panel active"
    style="background-image: url('https://i.ibb.co/v46wyB4/Iron-Man-Artwork-New-Wallpapers-hdqwalls-com.jpg');">
    <h3>Ironman</h3>
  </div>

  <div class="panel"
    style="background-image: url('https://i.ibb.co/fY4W5tg/Spider-man-Far-from-home-suit-Abdennour-lighto-Mesfek.jpg');">
    <h3>Spiderman</h3>
  </div>

  <div class="panel"
    style="background-image:url('https://i.ibb.co/9T0q6t2/Captain-America-The-Avengers-Endgame-Fan-Art-3-D-Portrait-Sila-Suwansa-ard.png');">
    <h3>Captain America</h3>
  </div>
</div>
