.title {
  width: auto;
  text-align: center;
  font-size: 50px;
  height: 12vh;
  margin: 0;
}


.container {
  display: flex;
  /* flex-direction: column; */
  width: 80vw;
  height: 72vh;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 15px;
  position: relative;
  transition: flex 0.8s ease-in;
  text-align: center;
}

.panel h3 {
  font-size: 32px;
  position: absolute;
  /* bottom: 20px; */
  top: 25px;
  right: 40px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out 0.4s;
}

.panel.active {
  flex: 3;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel .circle {
  width: 80px;
  height: 80px;
  border-radius: 150px;
  background: #ffffff;
  position: absolute;
  bottom: 14px;
  left: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease-out 0.6s;
}

.panel.active .circle{
  opacity: 0;
  transition: opacity 0.3s ease-in 0.3s;
}

@media(max-width:700px) {
  .container {
    width: 87vw;
  }

  /* .panel:nth-of-type(3){
        display: none;
    } */
}
